<template>
    <div class="barra caja background2 colorTexto">
        Anime
    </div>
</template>

<script>
    export default {
        name: "BarraTitulo"
    }
</script>

<style scoped lang="sass">
.barra
    font:
        family: Muli, "Open Sans", serif
        size: xx-large
        weight: bold
    text-align: center
</style>