<template>
    <div class="caja tarjeta background2 colorTexto">
        <div class="center-on-small">
            <span>
                <router-link :to="link" class="tarjeta--nombre colorTexto" >
                    {{ titulo }}
                </router-link>
            </span>
        </div>
        <br>
        <div class="row">
            <div class="col l4 m4 s12 center-on-small">
                <img :src="imgUrl" class="responsive-img" width="225px" height="310px">
            </div>
            <div class="col l8 m8 s12">
                <div class="hide-on-med-and-up"><br></div>
                {{ descr }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Tarjeta",
        props: {
            titulo: {
                type: String,
                default: "Nombre del Anime"
            },
            descr: {
                type: String,
                default: "Descripcion del anime. Descripcion del anime. Descripcion del anime. Descripcion del anime. " +
                    "Descripcion del anime. "
            },
            imgUrl: {
                type: String,
                default: "https://myanimelist.cdn-dena.com/images/anime/1424/93855.jpg"
            },
            link: {
                type: String,
                default: "/"
            },
            tags: {
                type: String,
                default: "nombre del anime"
            },
            temporada: {
                type: String,
                default: "Ninguna"
            },
            anio: {
                type: Number,
                default: 2020
            }
        }
    }
</script>

<style scoped lang="sass">
@media only screen and (max-width: 500px)
    .center-on-small
        text-align: center

.tarjeta--nombre
    font:
        family: Muli, "Open Sans", serif
        weight: bold
        size: xx-large
    // color: black
    transition: color 100ms
    &:hover
        color: #23bf87
</style>