@font-face
  font-family: 'Product Sans'
  src: url(../fonts/ProductSans/ProductSans.ttf)
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Product Sans'
  src: url(../fonts/ProductSans/ProductSansBold.ttf)
  font-style: normal
  font-weight: bold

// Colores para el modo oscuro
// body ->  background-color: black
// caja ->  background-color: #1c1c1c
//          color: #d2d2d2

body
  font:
    family: "Open Sans", serif
    size: large

.noSelectionBackground
  user-select: none

.caja
  margin: 10px 0
  border-radius: 3px
  padding: 15px

.background1
  //
  background-color: black

.background2
  //
  background-color: #101010

.background__panel-descarga
  // background-color: #f2f2f2
  background-color: #1d1d1d

.colorTexto
  //
  color: #d2d2d2

.sombraCaja
  //
  // box-shadow: 2px 2px 2px #353535

.sombraTitulo
  // text-shadow: 2px 2px 0 #ffffff, 6px 6px 0 #DDDDDD
  text-shadow: 2px 2px 0 #373737, 6px 6px 0 #414141

.colorPrincipal
  // color: #23bf87
  color: #22a170