<template>
    <div v-if="render">
        <br>
        Este es un proceso largo y doloroso, pero necesario. <br>
        <br>
        <form @submit.prevent="crearAnimeConYaml" id="animeNuevoYAML">
            YAML:
            <textarea placeholder="YAML raw" class="materialize-textarea" required name="yaml-raw"></textarea><br>
            <br>
            <input type="submit" value="Enviar">
        </form>
        <br>
        <form id="animeNuevo" @submit.prevent="crearAnime" class="form-crear">
            <span>Nombre: </span><input type="text" placeholder="nombre" required name="nombre"><br>
            <span>Link: </span><input type="text" placeholder="/Anime/?" required name="link"><br>
            <span>URL de imagen: </span><input type="text" placeholder="URL" required name="imgUrl"><br>
            <span>Descripcion</span><br>
            <textarea placeholder="Descripcion." class="materialize-textarea" required name="descripcion"></textarea><br>
            <span>Estudio: </span><input type="text" placeholder="Estudio" required name="estudio"><br>
            <span>Num de episodios: </span><input type="number" placeholder="Num de episodios" required name="eps"><br>
            <span>Fecha de emisión: </span><input type="text" placeholder="Emision" required name="alAire"><br>
            <span>Temporada: </span>
            <select class="browser-default" style="width: auto; display: inline-block" required name="temporada">
                <option value="Invierno">Invierno</option>
                <option value="Otono">Otoño</option>
                <option value="Verano">Verano</option>
                <option value="Primavera">Primavera</option>
            </select>
            <br>
            <span>Año: </span><input type="number" min="2015" max="2025" placeholder="Año" required name="anio"><br>
            <span>Fuente: </span><input type="text" placeholder="fuente" required name="fuente"><br>
            <span>Generos: </span><input type="text" placeholder="Generos" required name="generos"><br>
            <span>Color: </span><input type="text" placeholder="color" required name="color"><br>
            <br>
            <input type="submit" value="Crear">
        </form>
    </div>
</template>

<script>
    const YAML = require('yaml');

    export default {
        name: "crear-anime",
        props: {
            render: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            crearAnime () {
                const form = document.getElementById("animeNuevo");
                const respuesta = {
                    titulo: form["nombre"].value,
                    link: form["link"].value,
                    imgUrl: form["imgUrl"].value,
                    descripcion: form["descripcion"].value,
                    estudio: form["estudio"].value,
                    eps: form["eps"].value,
                    alAire: form["alAire"].value,
                    temporada: form["temporada"].value,
                    anio: form["anio"].value,
                    fuente: form["fuente"].value,
                    generos: form["generos"].value,
                    color: form["color"].value
                };

                console.log("El objeto a enviar es:\n", YAML.stringify(respuesta));

                const xhr = new XMLHttpRequest();
                xhr.open("PUT","/a/");
                xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
                xhr.onload = () => {
                    console.log("El servidor respondió:\n" + xhr.responseText);
                };
                xhr.send(`data=${YAML.stringify(respuesta)}`);
            },
            crearAnimeConYaml () {
                const form = document.getElementById("animeNuevoYAML");

                const respuesta = form["yaml-raw"].value;

                const xhr = new XMLHttpRequest();
                xhr.open("PUT","/a/");
                xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
                xhr.onload = () => {
                    console.log("El servidor respondió:\n" + xhr.responseText);
                };
                xhr.send(`data=${respuesta}`);
            }
        }
    }
</script>

<style scoped lang="sass">
.form-crear
    span
        display: inline-block
        min-width: 200px
    input
        min-width: 300px
        width: auto

</style>