<template>
    <div>
        <table class="striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Acciones</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="anime in listaAnimes" :id="'anime' + anime['anime_ID']">
                <td class="columna-id">{{ anime["anime_ID"] }}</td>
                <td>{{ anime["titulo"] }}</td>
                <td>
                    <button class="btn" @click="revisarOP('anime' + anime['anime_ID'], anime['anime_ID'])">OP</button> |
                    <button class="btn" @click="revisarED('anime' + anime['anime_ID'], anime['anime_ID'])">ED</button> |
                    <button class="btn" @click="verLinks('anime' + anime['anime_ID'], anime['anime_ID'])">Link</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    const YAML = require('yaml');

    export default {
        name: "lista-animes",
        props: {
            listaAnimes: Array | Object
        },
        methods: {
            revisarOP (elemId, animeID) {
                const elemActual = document.getElementById(elemId);

                const marco = document.createElement("tr");
                marco.appendChild(document.createElement("td"));
                const marcof = document.createElement("td");
                marco.appendChild(marcof);
                marco.appendChild(document.createElement("td"));

                const elemNuevo = document.createElement("div");

                const formCrear = document.createElement("div");
                formCrear.appendChild(document.createTextNode("Crear un OP:"));
                formCrear.appendChild(document.createElement("br"));
                formCrear.appendChild(document.createElement("br"));

                const form = document.createElement("form");

                form.onsubmit = () => false;

                const input = document.createElement("input");
                input.placeholder = "Numero del OP";
                input.className = "OP-ED__num-ed colorTexto";
                input.type = "number";
                input.min = "1";
                input.max = "50";
                form.appendChild(input);

                const input2 = document.createElement("input");
                input2.placeholder = "Nombre del OP";
                input2.className = "OP-ED__nombre colorTexto";
                input2.type = "text";
                form.appendChild(input2);

                const input3 = document.createElement("input");
                input3.placeholder = "Artista del OP";
                input3.className = "OP-ED__artista colorTexto";
                input3.type = "text";
                form.appendChild(input3);

                const input4 = document.createElement("input");
                input4.placeholder = "Episodios del OP (1 al 13)";
                input4.className = "OP-ED__eps colorTexto";
                input4.type = "text";
                form.appendChild(input4);

                const botonEnviar = document.createElement("button");
                botonEnviar.className = "btn";
                botonEnviar.addEventListener("click", () => {
                    botonEnviar.className = "btn disabled";

                    const data = {
                        num_OP: input.value,
                        nombre: input2.value,
                        artista: input3.value,
                        eps: input4.value,
                        anime_ID: animeID
                    };

                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", "/op/");
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.onload = () => {

                        botonEnviar.className = "btn";
                        console.log("Resultado:\n" + xhr.responseText);

                    };
                    xhr.send(`data=${YAML.stringify(data)}`);

                });
                botonEnviar.innerText = "Crear.";

                form.appendChild(botonEnviar);

                formCrear.appendChild(form);
                elemNuevo.appendChild(formCrear);

                const botonCerrar = document.createElement("button");
                botonCerrar.className = "btn red";
                botonCerrar.addEventListener("click", () => {
                    elemActual.parentNode.removeChild(marco);
                });
                botonCerrar.innerText = "Cerrar.";
                elemNuevo.appendChild(document.createElement("br"));
                elemNuevo.appendChild(botonCerrar);

                elemNuevo.style.padding = "30px";

                const xhr = new XMLHttpRequest();
                xhr.open("GET", `/op/${animeID}`);
                xhr.onload = () => {

                    const data = YAML.parse(xhr.responseText);

                    for (const elemento of data) {

                        const div = document.createElement("div");
                        div.innerHTML = `<br>OP ${elemento['num_OP']}: ${elemento['nombre']} - ${elemento['artista']}<br>\
                                            Eps: ${elemento['eps']}`;

                        elemNuevo.appendChild(div);

                    }
                };
                xhr.send();

                marcof.appendChild(elemNuevo);
                elemActual.parentNode.insertBefore(marco, elemActual.nextSibling);
            },
            revisarED (elemId, animeID) {
                const elemActual = document.getElementById(elemId);

                const marco = document.createElement("tr");
                marco.appendChild(document.createElement("td"));
                const marcof = document.createElement("td");
                marco.appendChild(marcof);
                marco.appendChild(document.createElement("td"));

                const elemNuevo = document.createElement("div");

                const formCrear = document.createElement("div");
                formCrear.appendChild(document.createTextNode("Crear un ED:"));
                formCrear.appendChild(document.createElement("br"));
                formCrear.appendChild(document.createElement("br"));

                const form = document.createElement("form");

                form.onsubmit = () => false;

                const input = document.createElement("input");
                input.placeholder = "Num";
                input.className = "OP-ED__num-ed colorTexto";
                input.type = "number";
                input.min = "1";
                input.max = "50";
                form.appendChild(input);

                const input2 = document.createElement("input");
                input2.placeholder = "Nombre del ED";
                input2.className = "OP-ED__nombre colorTexto";
                input2.type = "text";
                form.appendChild(input2);

                const input3 = document.createElement("input");
                input3.placeholder = "Artista del ED";
                input3.className = "OP-ED__artista colorTexto";
                input3.type = "text";
                form.appendChild(input3);

                const input4 = document.createElement("input");
                input4.placeholder = "Episodios del ED (1 al 13)";
                input4.className = "OP-ED__eps colorTexto";
                input4.type = "text";
                form.appendChild(input4);

                form.appendChild(document.createElement("br"));

                const botonEnviar = document.createElement("button");
                botonEnviar.className = "btn";
                botonEnviar.addEventListener("click", () => {
                    botonEnviar.className = "btn disabled";

                    const data = {
                        anime_ID: animeID,
                        num_ED: input.value,
                        nombre: input2.value,
                        artista: input3.value,
                        eps: input4.value
                    };

                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", "/ed/");
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.onload = () => {

                        botonEnviar.className = "btn";
                        console.log("Resultado:\n" + xhr.responseText);

                    };
                    xhr.send(`data=${YAML.stringify(data)}`);

                });
                botonEnviar.innerText = "Crear.";

                form.appendChild(botonEnviar);

                formCrear.appendChild(form);
                elemNuevo.appendChild(formCrear);

                const botonCerrar = document.createElement("button");
                botonCerrar.className = "btn red";
                botonCerrar.addEventListener("click", () => {
                    elemActual.parentNode.removeChild(marco);
                });
                botonCerrar.innerText = "Cerrar.";
                elemNuevo.appendChild(document.createElement("br"));
                elemNuevo.appendChild(botonCerrar);

                elemNuevo.style.padding = "30px";

                const xhr = new XMLHttpRequest();
                xhr.open("GET", `/ed/${animeID}`);
                xhr.onload = () => {

                    const data = YAML.parse(xhr.responseText);
                    if (Array.isArray(data)) {
                        for (const elemento of data) {

                            const div = document.createElement("div");
                            div.innerHTML = `<br>ED ${elemento['num_ED']}: ${elemento['nombre']} - ${elemento['artista']}<br>\
                                            Eps: ${elemento['eps']}`;

                            elemNuevo.appendChild(div);

                        }
                    } else {
                        M.toast({html: 'Error :c'});
                    }
                };
                xhr.send();

                marcof.appendChild(elemNuevo);
                elemActual.parentNode.insertBefore(marco, elemActual.nextSibling);
            },
            verLinks (elemId, animeID) {
                console.log("Viendo los links.");
                /* TODO: Usar los datos para crear:
                  * Form para crear Variantes (usando un xhr)
                  * */
                const crear = data => {
                    const elemActual = document.getElementById(elemId);

                    const marco = document.createElement("tr");
                    marco.appendChild(document.createElement("td"));
                    const marcof = document.createElement("td");
                    marco.appendChild(marcof);
                    marco.appendChild(document.createElement("td"));

                    const elemNuevo = document.createElement("div");

                    for (const varianteID in data) {
                        if (data.hasOwnProperty(varianteID)) {

                            const variante = data[varianteID];

                            const contenedor = document.createElement("div");

                            const varianteSpan = document.createElement("span");
                            varianteSpan.className = "variante";
                            varianteSpan.innerText = variante.formato;
                            contenedor.appendChild(varianteSpan);

                            const resSpan = document.createElement("span");
                            resSpan.className = "res";
                            resSpan.innerText = variante.res;
                            contenedor.appendChild(resSpan);

                            const servidorSpan = document.createElement("span");
                            servidorSpan.className = "servidor";
                            servidorSpan.innerText = variante.servidor;
                            contenedor.appendChild(servidorSpan);

                            const botonVerVariante = document.createElement("span");
                            botonVerVariante.className = "ver-variante";
                            botonVerVariante.innerText = "Ver mas";
                            let contenedorLinks;
                            const verLinks = () => {
                                botonVerVariante.innerText = "Cerrar";
                                botonVerVariante.removeEventListener("click", verLinks);
                                botonVerVariante.addEventListener("click", ocultarLinks);

                                const generarListaEps = data => {
                                    contenedorLinks.innerHTML = "";

                                    for (const epID in data) {
                                        if (data.hasOwnProperty(epID)) {
                                            const ep = data[epID];

                                            const epDiv = document.createElement("div");
                                            epDiv.className = "eps-div";
                                            epDiv.innerHTML = `Ep. ${ep.num_ep}, ${ep.peso} y ${ep.visitas} visitas ->
                                                <a href="${ep.link}" target="_blank" title="Link">${ep.link.substr(0, 50)}...</a>`;
                                            contenedorLinks.appendChild(epDiv);

                                        }
                                    }

                                    const agregarEpForm = document.createElement("form");
                                    agregarEpForm.class = "agregar-ep-form";
                                    agregarEpForm.onsubmit = () => false;

                                    const numEp = document.createElement("input");
                                    numEp.className = "colorTexto agregar-ep-form__num-ep";
                                    numEp.placeholder = "Ep num";
                                    agregarEpForm.appendChild(numEp);

                                    const visitas = document.createElement("input");
                                    visitas.className = "colorTexto agregar-ep-form__visitas";
                                    visitas.placeholder = "Visitas";
                                    visitas.value = '0';
                                    agregarEpForm.appendChild(visitas);

                                    const peso = document.createElement("input");
                                    peso.className = "colorTexto agregar-ep-form__peso";
                                    peso.placeholder = "Peso";
                                    agregarEpForm.appendChild(peso);

                                    const link = document.createElement("input");
                                    link.className = "colorTexto agregar-ep-form__link";
                                    link.placeholder = "link";
                                    agregarEpForm.appendChild(link);

                                    const botonCrear = document.createElement("button");
                                    botonCrear.className = "agregar-ep-form__boton-crear";
                                    botonCrear.innerText = "Crear ep";
                                    botonCrear.addEventListener("click", () => {

                                        const xhr = new XMLHttpRequest();
                                        xhr.open("POST", "/eps/links/");
                                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                                        xhr.onload = () => {
                                            const respuesta = YAML.parse(xhr.responseText);
                                            if (!respuesta.error) {
                                                numEp.value = visitas.value = peso.value = link.value = "";
                                            } else {
                                                console.log("Error :c");
                                            }
                                        };
                                        const dataAEnviar = {
                                            opcion_ID: variante.opcion_ID,
                                            num_ep: numEp.value,
                                            visitas: visitas.value,
                                            link: link.value,
                                            peso: peso.value
                                        };
                                        xhr.send(`params=${YAML.stringify(dataAEnviar)}`);

                                    });
                                    agregarEpForm.appendChild(botonCrear);

                                    contenedorLinks.appendChild(agregarEpForm);
                                };

                                contenedorLinks = document.createElement("div");
                                contenedorLinks.className = "identado";
                                contenedorLinks.innerHTML = "Cargando...";
                                contenedor.insertBefore(contenedorLinks, botonVerVariante.nextSibling);

                                const xhr = new XMLHttpRequest();
                                xhr.open("GET", `/eps/links/${variante.opcion_ID}`);
                                xhr.onload = () => {
                                    generarListaEps(YAML.parse(xhr.responseText));
                                    console.log(xhr.responseText);
                                };
                                xhr.send();
                            };
                            function ocultarLinks() {
                                botonVerVariante.innerText = "Ver mas";
                                botonVerVariante.removeEventListener("click", ocultarLinks);
                                botonVerVariante.addEventListener("click", verLinks);

                                contenedor.removeChild(contenedorLinks);
                            }
                            botonVerVariante.addEventListener("click", verLinks);
                            contenedor.appendChild(botonVerVariante);

                            elemNuevo.appendChild(contenedor);
                        }

                    }

                    const botonCerrar = document.createElement("button");
                    botonCerrar.className = "btn red";
                    botonCerrar.innerText = "Cerrar.";
                    botonCerrar.addEventListener("click", () => {
                        elemActual.parentNode.removeChild(marco);
                    });
                    elemNuevo.appendChild(document.createElement("br"));
                    elemNuevo.appendChild(botonCerrar);

                    marcof.appendChild(elemNuevo);
                    elemActual.parentNode.insertBefore(marco, elemActual.nextSibling);
                };

                const xhr = new XMLHttpRequest();
                xhr.open("GET", `/eps/variantes/${animeID}`);
                xhr.onload = () => {
                    const data = YAML.parse(xhr.responseText);
                    console.log(xhr.responseText);
                    crear(data);
                };
                xhr.send();

            }
        }
    }
</script>

<style lang="sass">
%form-op-ed
    display: inline-block
    margin: 0 10px !important

.OP-ED__num-ed
    @extend %form-op-ed
    width: 50px !important

.OP-ED__nombre
    @extend %form-op-ed
    width: 200px !important

.OP-ED__artista
    @extend %form-op-ed
    width: 200px !important

.OP-ED__eps
    @extend %form-op-ed
    width: 100px !important

%tags
    display: inline-block
    cursor: default
    color: white
    padding: 5px 8px
    border-radius: 3px
    margin: 0 5px
    font:
        size: medium

.variante
    @extend %tags
    background-color: #339

.res
    @extend %tags
    background-color: #393

.servidor
    @extend %tags
    background-color: #933

.ver-variante
    @extend %tags
    background-color: white
    color: black
    cursor: pointer
    transition: transform 250ms, box-shadow 250ms
    user-select: none
    &:hover
        transform: translate(-1px, -1px)
        box-shadow: 1px 1px 2px #444

.eps-div
    overflow: hidden

.identado
    padding: 10px 0 10px 20px

.agregar-ep-form
    input


%inputs-agregar-ep
    display: inline-block
    margin: 0 5px !important
    padding: 5px !important

.agregar-ep-form__num-ep
    @extend %inputs-agregar-ep
    max-width: 30px


.agregar-ep-form__visitas
    @extend %inputs-agregar-ep
    max-width: 30px

.agregar-ep-form__link
    @extend %inputs-agregar-ep
    width: 400px !important

.agregar-ep-form__peso
    @extend %inputs-agregar-ep
    max-width: 70px

.agregar-ep-form__boton-crear
    padding: 10px
    background-color: black
    color: white
    border: none
    border-radius: 3px
    cursor: pointer

.columna-id
    max-width: 40px

</style>