<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans" rel="stylesheet">

    <title>PseudoSubs - Anime de temporada sin distracciones, HD, Full HD, 24 y 60 fps.</title>
    <meta name="description" content="Ver anime de temporada nunca fue tan facil. Descarga en 1 click, 0 anuncios,
 0 acortadores, 0 ventanas emergentes. La mejor calidad.">
    <meta name="keywords" content="Anime, HD, Full HD, gratis, MEGA, Directo, 60fps">

</head>
<body>
    <noscript>
        <div class="container center" style="font-family: Muli, sans-serif; font-size: large;">
            El mundo está escrito en JavaScript. PseudoSubs también. <br>
            <br>
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" class="responsive-img" alt="LogoJS"><br>
            <br>
            Activa JavaScript para disfrutar de lo mejor en anime, a 1080p@60fps. <br>
            <a href="https://duckduckgo.com/como%20activar%20javascript" title="Como activar JS" target="_blank">¿Cómo lo hago?</a>
        </div>
    </noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
