<template>
    <div class="background1">
        <div class="container" style="padding-top: 10px">
            <div class="caja colorTexto background2" style="margin-top: 0">
                Administracion. <br>
                No voy a hacer muchas cosas por ahora porque esto es para mi :p <br>
                <br>
                <button class="btn" @click="verTodosLosAnimes">
                    Ver todos los animes
                </button>
                <br>
                <br>
                <form @submit.prevent>
                    Nombre del Anime:
                    <input type="text" placeholder="Nombre del anime">
                    <button class="btn">
                        Buscar
                    </button>
                </form>
                <br>
                <br>

                <lista-animes :lista-animes="listaAnimes" />

            </div>
            <br>
            <div class="caja colorTexto background2">

                <button class="btn" @click="mostrarCrearAnime">Crear un anime</button>
                <br>
                <crear-anime :render="crearAnime" />
                <br>
                <br>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</template>

<script>

    import ListaAnimes from "../components/Administracion/lista-animes";
    import CrearAnime from "../components/Administracion/crear-anime";
    const YAML = require('yaml');

    export default {
        name: "Administracion",
        components: {CrearAnime, ListaAnimes},
        data: function () {
            return {
                listaAnimes: {},
                crearAnime: false
            }
        },
        methods: {
            verTodosLosAnimes () {

                const xhr = new XMLHttpRequest();
                xhr.open("GET", "/a/");
                xhr.onload = () => {
                    this.listaAnimes = YAML.parse(xhr.responseText);
                };
                xhr.send();
            },
            mostrarCrearAnime () {
                this.crearAnime = !this.crearAnime;
            }
        }
    }

</script>

<style scoped lang="sass">

</style>