<template>
    <div class="background1">
        <nav-bar
                :variante="'Anime'"
                :anio="parseInt(this.$route.params.anio)"
                :temporada="this.$route.params.temp"
                :nombre="this.$route.params.anime"
                :color="color"
        />
        <div class="container row">
            <div class="col l8 m12 s12">

                <template v-if="this.existe">
                    <contenido :nombre="this.$route.params.anime" :datos="this.datos" :color="color"/>
                </template>
                <template v-else>
                    Este anime no está en nuestra base de datos.
                </template>

            </div>
            <div class="col l4 hide-on-med-and-down">
                <barra-lateral />
            </div>
        </div>
        <mi-footer />
    </div>
</template>

<script>
    import ComponenteCarga from '../components/comp-cargando.vue';
    import { global } from "../global";
    import BarraLateral from '../components/AnimeView/BarraLateral.vue';

    export default {
        name: "AnimeView",
        components: {
            'nav-bar': () => ({
                component: import('../components/AnimeView/NavBar'),
                loading: ComponenteCarga,
                delay: 500,
                timeout: 5000
            }),
            'contenido': () => ({
                component: import('../components/AnimeView/Contenido')
            }),
            'mi-footer': () => ({
                component: import('../components/mi-footer')
            }),
            'barra-lateral': BarraLateral
        },
        data: function () {
            return {
                datos: {},
                color: '#23bf87',
                existe: false
            }
        },
        created: function () {
            const vm = this;

            const exec = () => {
                const link = `/Anime/${this.$route.params.anio}/${this.$route.params.temp}/${this.$route.params.anime}`;
                console.log(`El link es ${link}`);

                for (const animeI in window.indiceAnimes) {
                    const anime = window.indiceAnimes[animeI];

                    if (anime.link === link) {
                        vm.datos = anime;
                        vm.existe = true;

                        if (anime.color) {
                            vm.color = anime.color;
                            global.color = anime.color;
                        }
                        else {
                            vm.color = '#23bf87';
                            global.color = '#23bf87';
                        }
                        break;
                    }
                }

            };

            /* Se asegura que la lista de animes exista. */
            if (window.indiceAnimes[0]) {
                exec();
            } else {
                // TODO: Obtener los animes desde una API v:
                fetch('/animes.json')
                    .then( response => response.json())
                    .then(function (myJson) {
                        window.indiceAnimes = myJson;
                        exec();
                    })
            }


        }
    }
</script>

<style scoped lang="sass">
@media only screen and (min-width: 700px)
    .container
        width: 75%

@media only screen and (min-width: 993px)
    .container
        width: 80%


</style>