<template>
    <div class="background1">
        <div class="container">
            <titulo-principal />
            <barra-titulo />

            <tarjeta-anime v-for="(anime, key) in animes" :key="anime.key"
                           :titulo="anime.titulo"
                           :descr="anime.descripcion"
                           :imgUrl="anime.imgUrl"
                           :link="anime.link"
                           :temporada="anime.temporada.toLowerCase()"
                           :anio="anime.anio"
            />
        </div>

        <mi-footer />
    </div>
</template>

<script>
    import tituloPrincipal from '../components/titulo-principal.vue'
    import BarraTitulo from '../components/Anime/BarraTitulo.vue'
    import Tarjeta from '../components/Anime/Tarjeta.vue'
    import MiFooter from '../components/mi-footer.vue'
    import { global } from "../global";

    export default {
        name: "Anime",
        data: function () {
            return {
                animes: {}
            }
        },
        components: {
            'titulo-principal': tituloPrincipal,
            'barra-titulo': BarraTitulo,
            'tarjeta-anime': Tarjeta,
            'mi-footer': MiFooter
        },
        created: function () {
            global.color = '#22a170';

            if (window.indiceAnimes[0]) {
                console.log("Existe we v:");
                console.log(window.indiceAnimes);
                this.animes = window.indiceAnimes;
            } else {
                console.log("No hay nada we v':");

                let vm = this;
                // Obtener los animes desde una API v:
                fetch('/animes.json')
                    .then( response => response.json())
                    .then(function (myJson) {
                        vm.animes = myJson;
                        window.indiceAnimes = myJson;
                        console.log("Pero ya me aseguré de que haya algo.");
                    })
            }
        }
    }
</script>

<style scoped lang="sass">

</style>