<template>
    <div class="background1">
        <div class="container">
            <titulo-principal />
            <slider-reciente />

            <div class="row">
                <tarjeta-menu-prin
                        url="/Anime/"
                        imgUrl="http://pseudosubs.com/rcs/img/PagInicio/Anime.png"
                        titulo="Anime"
                        descr="Anime de Temporada con la mejor calidad, rápidamente y minimalista.<br>
                        ¡Disfruta el original a 24FPS, o deleitate con la fluidez de los 60FPS en 720p y 1080p!"
                        :aLaIzq="true"
                />
                <tarjeta-menu-prin
                        url="/Novelas/"
                        imgUrl="http://pseudosubs.com/rcs/img/PagInicio/NLyukino.png"
                        titulo="Novelas Ligeras"
                        descr="Traducciones de calidad, lo más rápido posible sin descuidar la coherencia, ortografía y atmosfera.<br/>
                    ¡Leelo como gustes! Tú decides si es PDF, EPUB, la fuente, tamaño de letra, etc.."
                        :aLaIzq="false"
                />
            </div>

            <features-card/>
        </div>
        <br>
        <mi-footer/>
    </div>
</template>

<script lang="ts">
import tituloPrincipal from '../components/titulo-principal.vue'
import sliderReciente from '../components/slider-reciente.vue'
import tarjetaMenuPrin from '../components/tarjeta-menu-princ.vue'
import featuresCard from '../components/features-card.vue'
import footer from '../components/mi-footer.vue'
import { global } from "../global";


export default {
    components: {
        'titulo-principal': tituloPrincipal,
        'slider-reciente': sliderReciente,
        'tarjeta-menu-prin': tarjetaMenuPrin,
        'features-card': featuresCard,
        'mi-footer': footer
    },
    created: function () {
        global.color = '#22a170';
    }
}
</script>

<style lang="sass" scoped>

</style>
