<template>
    <div>
        <nav-bar variante="" :anio="0" temporada="" nombre="" :renderizar-barra-inferior="false"/>

        <div class="container row">
            <div class="col l8 m12 s12">
                <div class="caja contenido">

                    <cambio :data="'0.1'" />

                </div>
            </div>
            <div class="col l4 hide-on-med-and-down">
                <div class="caja">
                    :c
                </div>
            </div>
        </div>

        <mi-footer />
    </div>
</template>

<script>
    import NavBar from '../components/AnimeView/NavBar.vue'
    import MiFooter from '../components/mi-footer.vue'
    import Cambio from '../components/ListaDeCambios/Cambio.vue'
    import { global } from "../global";
    const YAML = require('yaml');

    export default {
        name: "ListaDeCambios",
        components: {
            'nav-bar': NavBar,
            'mi-footer': MiFooter,
            cambio: Cambio
        },
        created: function () {
            global.color = '#23bf87';
        }
    }
</script>

<style scoped>

</style>