<template>
    <div>
        <nav-bar variante="" :anio="0" temporada="" nombre="" :renderizar-barra-inferior="false"/>
    </div>
</template>

<script>
    import NavBar from '../components/AnimeView/NavBar.vue'
    import { global } from "../global";

    export default {
        name: "Nosotros",
        components: {
            'nav-bar': NavBar
        },
        created: function () {
            global.color = '#23bf87';
        }
    }
</script>

<style scoped>

</style>