<template>
    <div class="anuncio" v-html="mensaje"></div>
</template>

<script lang="ts">

    export default {
        name: "anuncioLocal",
        props: {
            mensaje: {
                type: String,
                default: "Cargando los episodios..."
            }
        }
    }
</script>

<style scoped lang="sass">

    .anuncio
        text-align: center

</style>