<template>
    <div class="ayuda">
        <div class="ayuda__titulo" :style="'background-color: ' + color">
            ¿Cómo descargar/abrir?
        </div>
        <div class="ayuda__contenido background1">
            <ol class="ayuda__contenido__lista">
                <li>Escoge un formato y resolución. Soft/Hard y 720p/1080p</li>
                <li>Descarga el episodio que desees, o la carpeta completa. No te preocupes, no usamos ningun acortador.</li>
                <li>El archivo resultante será:<br> 01 [PseudoSubs] {{ nombreAnime }}<b>.pseudo</b> <br>
                    y es el video en si, no está comprimido.
                    Para verlo puedes:
                    <ol>
                        <li>
                            Intentar abrirlo con tu reproductor favorito. Ya que es un video con otra extensión, lo
                            abrirá sin problemas
                        </li>
                        <li>
                            Cambiar la extensión de <b>.pseudo</b> a <b>.mp4</b> o <b>.mkv</b>.
                        </li>
                    </ol>
                </li>

                <li>Si necesitas más ayuda, visita la pagina de ayuda, nuestro servidor en Discord, o nuestra página
                    de Facebook.</li>
            </ol>

        </div>
    </div>
</template>

<script lang="ts">
    export default {
        name: "ayudaMini",
        props: {
            color: {
                type: String,
                default: '#23bf87'
            },
            nombreAnime: String
        }
    }
</script>

<style scoped lang="sass">
    .ayuda__titulo
        font:
            family: Muli, "Open Sans", sans-serif
            size: xx-large
            weight: bold
        color: white
        padding: 10px
        text-align: center
        border-radius: 5px

    .ayuda__contenido
        // background-color: rgb(238, 238, 238)
        // color: black
        font-family: "Open Sans", sans-serif
        display: block
        text-align: left
        padding: 10px 0

    .ayuda__contenido__lista li
        padding: 10px 0


    .ayuda
</style>