<template>
    <div>
        <div class="caja colorTexto background2">
            Esta es la barra lateral.
        </div>
        <div class="caja colorTexto background2 estadisticas">
            <span style="font-size: x-large; font-weight: bold">PseudoSubs en numeros:</span><br>
            <br>
            Con <b style="text-decoration: underline">{{ estadisticas.episodios }}</b> episodios,
            PseudoSubs aloja <b style="text-decoration: underline">{{ estadisticas.gigas }} GB.</b> en anime, ¡y creciendo!
        </div>
    </div>
</template>

<script>
    const YAML = require('yaml');

    export default {
        name: "BarraLateral",
        data: function (){
            return {
                estadisticas: {
                    episodios: 'más de 200',
                    gigas: 'más de 65'
                }
            };
        },
        created: function () {
            const vm = this;
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/estadisticas");
            xhr.onload = () => {
                console.log(xhr.responseText);
                const respuesta = YAML.parse(xhr.responseText);
                if (!respuesta.error) {
                    vm.estadisticas = respuesta;
                } else {
                    console.log("Error al obtener las estadisticas :c");
                }
            };
            xhr.send();
        }
    }
</script>

<style scoped lang="sass">
.estadisticas
    cursor: default
</style>