<template>
    <div class="caja contenido background2 colorTexto">

        <div class="contenido--titulo">
            {{ datos.titulo }}
        </div>
        <br>
        <div class="contenido--contenedor-imagen">
            <img :src="datos.imgUrl" :alt="datos.titulo" class="responsive-img">
        </div>
        <br>
        <div class="contenido--descripcion">
            {{ datos.descripcion }}
        </div>
        <div class="contenido--datos">
            <div class="contenido--datos--titulo" :style="'color: ' + color">
                Datos adicionales
            </div>
            <div class="contenido--datos--descripcion">
                Capitulos: {{ datos.eps }} <br>
                Al Aire: {{ datos.alAire }} <br>
                Temporada: {{ datos.temporada }} <br>
                Estudio: {{ datos.estudio }} <br>
                Fuente: {{ datos.fuente }} <br>
                Generos: {{ datos.generos }} <br>
                <br>
                Openings:<br>
                <template v-for="(op, index) in datos.OP">
                    <div class="espaciado">{{ index }} : {{ op }}</div>
                </template>
                Endings:<br>
                <template v-for="(op, index) in datos.ED">
                    <div class="espaciado">{{ index }} : {{ op }}</div>
                </template>
            </div>
            <br>
            <ayuda-mini :color="color" :nombre-anime="datos.titulo" />
            <br>
            <proximo-episodio :color="color" />
            <br>
            <anuncio-global />
            <anuncio-local :mensaje="datosAnime.aviso"/>
            <br>
            <panel-de-descarga :color="color" :nombre="datos.titulo" :datos="datosAnimeLinksOpciones"
                               :datos-correctos="datosAnimeCorrectos"
                               :mostrar-spinner-para-carga-de-eps="mostrarSpinnerParaCargaDeEps"/>

        </div>

    </div>
</template>

<script>
    import AnuncioGlobal from '../anuncio-global.vue'
    import AyudaMini from './ayudaMini.vue'
    import ProximoEpisodio from './proximoEpisodio.vue'
    import AnuncioLocal from './anuncioLocal.vue'
    import ComponenteCarga from '../comp-cargando.vue'
    import { global } from "../../global";

    const YAML = require('yaml');

    export default {
        name: "Contenido",
        data: function () {
            return {
                datosAnime: {},
                datosAnimeLinksOpciones: {},
                datosAnimeListos: false,
                datosAnimeCorrectos: false,
                mostrarSpinnerParaCargaDeEps: true
            }
        },
        props: {
            nombre: String,
            datos: Object,
            color: {
                type: String,
                default: '#23BF87'
            },
        },
        components: {
            'anuncio-global': AnuncioGlobal,
            'ayuda-mini': AyudaMini,
            'proximo-episodio': ProximoEpisodio,
            'anuncio-local': AnuncioLocal,
            'panel-de-descarga': () => ({
                component: import('./panelDeDescarga.vue'),
                loading: ComponenteCarga,
                delay: 200,
                timeout: 5000
            })
        },
        created: function () {
            const xhr = new XMLHttpRequest();

            xhr.open("POST","/links");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            const vm = this;
            xhr.onload = () => {

                const data = YAML.parse(xhr.responseText);
                if (data.opciones) {
                    vm.datosAnime = data;
                    vm.datosAnimeLinksOpciones = data["opciones"];
                    vm.datosAnimeCorrectos = true;
                } else {
                    vm.datosAnime = {
                        aviso: 'Hubo un error al obtener los episodios. Inténtalo de nuevo mas tarde.'
                    };
                    vm.mostrarSpinnerParaCargaDeEps = false;
                    console.log("Error al recibir los eps del anime.");
                }

            };
            console.log("Este es el query: " + `animeID=${ this.datos.animeID }`);
            xhr.send(`animeID=${ this.datos.animeID }`);

        }
    }
</script>

<style scoped lang="sass">
.contenido--titulo
    text-align: center
    font:
        size: xx-large
        family: Muli, "Open Sans", sans-serif
        weight: bold

.contenido--contenedor-imagen
    text-align: center

.contenido--descripcion
    text-align: justify

.contenido--datos
    margin: 20px 0

.contenido--datos--titulo
    font:
        size: x-large
        weight: bold
    color: #23bf87

.contenido--datos--descripcion

.espaciado
    margin-left: 10px
</style>