<template>
    <div>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper nav-bar--main" :style="'background-color: ' + color">
                    <b>
                        <router-link to="/" class="brand-logo nav-bar--main--logo">
                            PseudoSubs
                        </router-link>
                    </b>

                    <ul class="right hide-on-med-and-down">
                        <li><router-link to="/cambios">Lista de Cambios</router-link></li>
                        <li><router-link to="/nosotros">Sobre Nosotros</router-link></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="nav-wrapper" :style="'background-color: ' + color" v-if="renderizarBarraInferior">
            <div class="col s12 enMedio">
                <router-link to="/" class="breadcrumb" style="margin-left: 20px">Inicio</router-link>
                <router-link to="/Anime/" class="breadcrumb enMedio">Anime</router-link>
                <router-link to="" class="breadcrumb enMedio" style="cursor: default">{{ nombre }}</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NavBar",
        props: {
            variante: String,
            anio: Number,
            temporada: String,
            nombre: String,
            color: {
                type: String,
                default: "#23BF87"
            },
            renderizarBarraInferior: {
                type: Boolean,
                default: true
            }
        }
    }
</script>

<style scoped lang="sass">
.nav-bar
    transition: background-color 25ms

.nav-bar--main
    transition: background-color 25ms
    padding: 0 25px

.nav-bar--main--logo
    font:
        family: "Product Sans", Muli, sans-serif

.enMedio
    display: flex
    align-items: center
</style>