<template>
    <div class="proximo sombraCaja">
        <div class="proximo__titulo" :style="'background-color: ' + color">
            Próximo Episodio: fecha
        </div>
        <div class="proximo__contenido">
            Todos los Jueves
        </div>
    </div>
</template>

<script lang="ts">
    /* TODO: Agregar props para el manejo de las fechas. Hacer que este componente se oculte si el anime esta finalizado */
    export default {
        name: "proximoEpisodio",
        props: {
            color: {
                type: String,
                default: '#23bf87'
            }
        }
    }
</script>

<style scoped lang="sass">
    .proximo__titulo
        font:
            family: Muli, "Open Sans", sans-serif
            size: xx-large
            weight: bold
        color: white
        padding: 10px
        text-align: center
        border-radius: 5px

    .proximo__contenido
        // color: black
        text-align: center
        font-size: x-large
        padding: 10px

    .proximo
        border-radius: 5px
        // box-shadow: 2px 2px 2px darkgrey
</style>