<template>
    <div class="anuncio" v-if="visible" :style="'border: solid 2px ' + bordeColor">
        <div class="anuncio--icono">
            <i class="material-icons medium" :style="'color: ' + iconoColor">{{ icono }}</i>
        </div>
        <div class="anuncio--texto">
            {{ texto }}
        </div>
        <div class="anuncio--clear"></div>
    </div>
</template>

<script>
    export default {
        name: "anuncio-global",
        data: function () {
            return {
                visible: true,
                texto: "¡Y aquí va el texto del anuncio global!",
                icono: "disc_full",
                iconoColor: "green",
                bordeColor: "green"
            }
        }
    }
</script>

<style scoped lang="sass">
.anuncio
    margin: 20px 0
    padding: 10px
    border-radius: 3px

.anuncio--icono
    float: left
    margin: 0 15px

.anuncio--texto
    text-align: center

.anuncio--clear
    clear: left

</style>