<template>
    <div :class="oculto? 'mi-slider--contenido-oculto': 'mi-slider--contenido'" :id="'entrada' + id">
        <div>
            <span>
                <router-link :to="link" class="mi-slider--contenido--titulo colorTexto">
                    {{ titulo }}
                </router-link>
            </span>
        </div>
        <br>
        <div class="row">
            <div class="col l4 m4 s12">
                <img :src="imgUrl" class="responsive-img mi-slider--contenido--img">
            </div>
            <div class="col l8 m8 s12 mi-slider--contenido--descripcion">
                <div class="hide-on-med-and-up"><br></div>
                {{ descr }}
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "entrada-reciente",
        props: {
            titulo: String,
            descr: String,
            imgUrl: String,
            link: String,
            id: Number,
            oculto: {
                type: Boolean,
                default: true
            }
        }
    }
</script>

<style scoped lang="sass">
.mi-slider--contenido
    transition: opacity 250ms
    opacity: 1

.mi-slider--contenido-oculto
    transition: opacity 250ms
    display: none
    overflow: hidden
    opacity: 0

.mi-slider--contenido--titulo
    font:
        family: Muli, 'Product Sans', serif
        size: x-large
        weight: bold
    transition: color 100ms
    &:hover
        color: #039f67

.mi-slider--contenido--img
    width: 222px
    height: 320px

.mi-slider--contenido--descripcion
    font:
        size: large
    text-align: justify
    padding-right: 20px

</style>