<template>
    <div class="caja features background2 colorTexto">
        <span class="features--titulo">
            Nosotros hacemos el trabajo sucio, tú disfrutas.
        </span>
        <br /><br />
        <div class="row">

            <div class="col l4 m4 s12 noSelectionBackground" style="cursor: default">
                <i class="large material-icons noSelectionBackground">cast_connected</i>
                <br />
                <span class="features--imagen-label">Para todos.</span>
                <br />
                <br />
                Descarga 1 vez, reproduce donde sea. Te ofrecemos la mayor compatibilidad,
                desde el Pocket Neo hasta la PC Master Race.
            </div>
            <div class="col l4 m4 s12 noSelectionBackground" style="cursor: default">
                <i class="large material-icons noSelectionBackground">aspect_ratio</i>
                <br />
                <span class="features--imagen-label">No te distraigas.</span>
                <br />
                <br />
                Nuestro diseño minimalista es fácil y agradable de leer, concéntrate en el
                contenido y no en el diseño.
            </div>
            <div class="col l4 m4 s12 noSelectionBackground" style="cursor: default">
                <i class="large material-icons noSelectionBackground">create</i>
                <br />
                <span class="features--imagen-label">Tú eliges cómo.</span>
                <br />
                <br />
                Te ofrecemos hasta 4 opciones diferentes en Anime, y el poder de personalizar todo
                en Novelas Ligeras.
            </div>

        </div>
        <br />
        <div class="divider"></div>
        <br />
        <div>
            <span class="features--titulo">
                Puedes desactivar el AdBlock.
            </span><br>
            <i class="medium material-icons">beach_access</i>
            <br>
            <span style="font-size: large">
                "¿Espera 5 segundos? Mmmph"<br />
                "¡No, no quiero conocer chicas cerca a mi área!"<br />
                "Rayos, publicidad.com se ha vuelto inmune al AdBlock."<br /><br />
                Que no te suceda nunca más. PseudoSubs es 100% libre de publicidad, desde siempre, y por siempre.<br />
            </span>
            <br />
            <br />
            <div class="divider"></div>
        </div>
        <br />
        <span class="features--titulo">
            Estamos para ayudarte.
        </span><br>
        <i class="medium material-icons">help</i>
        <br />
        <span style="font-size: large">
            ¿No sabes qué hacer? ¿Tienes alguna duda? Aquí te explicamos las soluciones a los problemas
            más frecuentes.
        </span>
        <br /><br />
        <router-link to="/Ayuda" class="waves-effect waves-light btn teal lighten-1"><b>¡Ayuda!</b></router-link>
        <br />
        <br />
        <span style="font-size: large">
            ¿No encontraste una solución? ¿No lo entendiste? ¿Simplemente quieres hablar? ¡Puedes entrar a nuestro Discord!
        </span>
        <br /><br />
        <a href="https://discord.gg/S3vwyXV" class="waves-effect waves-light btn blue darken-1" target="_blank"><b>¡Discord!</b></a>

    </div>
</template>

<script>
    export default {
        name: "features-card"
    }
</script>

<style scoped lang="sass">
.features
    text-align: center

.features--titulo
    font:
        family: Muli, "Open Sans", serif
        size: xx-large
    color: #23bf87
    &::selection
        color: white
        background-color: #23bf87

.features--imagen-label
    font:
        size: x-large
        family: Muli, "Open Sans",serif
    cursor: default
</style>