<template>
    <footer class="page-footer mi-footer" :style="'background-color: ' + color">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text mi-footer--titulo">PseudoSubs</h5>
                    <p class="grey-text text-lighten-4">
                        Anime de temporada @24FPS y @60FPS, H.264 y H.265<br>
                        Traducciones de Novelas Ligeras desde Ingles y Japones.<br>
                        Cosas varias.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Otros vínculos.</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" target="_blank" href="http://puya.si/">PuyaSubs</a>
                        </li>
                        <li><a class="grey-text text-lighten-3" target="_blank" href="http://horriblesubs.info/">
                            HorribleSubs</a></li>
                        <li>
                            <a class="grey-text text-lighten-3" target="_blank" href="http://acechanime.com/">AcechaAnime</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright PseudoSubs.
            </div>
        </div>
    </footer>
</template>

<script>
    import { global } from "../global";

    export default {
        name: "mi-footer",
        data: function () {
            return global
        }
    }
</script>

<style scoped lang="sass">
.mi-footer
    background-color: #23bf87

.mi-footer--titulo
    font:
        family: Muli, "Open Sans", serif
        size: xx-large
</style>