<template>
    <div class="mi-slider background2 sombraCaja colorTexto">
        <div class="mi-slider--titulo colorPrincipal">
            ¡Entradas Recientes!
        </div>

        <div class="mi-slider--contenido" id="entradasRecientes">
            <entrada-reciente
                    v-for="(anime, index) in animes"
                    v-if="anime.onPagPrin[0]"
                    :titulo="anime.titulo"
                    :key="anime.key"
                    :id="anime.key"
                    :link="anime.link"
                    :descr="anime.descripcion"
                    :img-url="anime.imgUrl"
                    :oculto="anime.onPagPrin[1] !== 1"
            />
        </div>

        <div class="mi-slider--flechas" style="display: none;">
            <i class="material-icons medium left hide-on-small-only noSelectionBackground mi-slider--barra--boton">arrow_back</i>
            <i class="material-icons medium right hide-on-small-only noSelectionBackground mi-slider--barra--boton">arrow_forward</i>
            <div class="center">
                <br />
                <div style="border: solid #23BF87 1px; border-radius: 8px; display: inline-block; min-width: 160px;
                        max-height: 8px; overflow: hidden">
                    <div id="progressEntrRec">.
                    </div>
                </div>
            </div>
            <i class="material-icons large left hide-on-med-and-up noSelectionBackground" style="cursor: pointer"
               onclick="retroceder()">arrow_back
            </i>
            <i class="material-icons large big right hide-on-med-and-up noSelectionBackground" style="cursor: pointer"
               onclick="avanzar()">arrow_forward
            </i>
        </div>
    </div>
</template>

<script lang="ts">
    import entradaReciente from './entrada-reciente.vue'

    let posCicloActual = 0;
    let entradas:HTMLCollection;
    let intervaloCiclo;

    const ciclarEntradasRecientes = ():void => {
        // Maldito TS, ¿En serio era necesario que sea tan estricto?
        // @ts-ignore
        entradas = document.getElementById("entradasRecientes").children;

        intervaloCiclo = setInterval(sigElemReciente, 5000);

    };

    const sigElemReciente = () => {
        const elemActual:HTMLElement = entradas[posCicloActual] as HTMLElement;

        if (posCicloActual === entradas.length-1)
            posCicloActual = 0;
        else
            posCicloActual++;

        const elemSig = entradas[posCicloActual];
        elemActual.style.opacity = 0 + "";
        setTimeout(() => {
            elemActual.className = "mi-slider--contenido-oculto";
            // @ts-ignore
            elemActual.style = "";
            setTimeout(() => {
                elemSig.className = "mi-slider--contenido";
            },10);
        },250);
    };

    export default {
        name: "slider-reciente",
        data: function () {
            return {
                animes: []
            }
        },
        created: function () {
            // Alias the component instance as `vm`, so that we
            // can access it inside the promise function
            let vm = this;

            // Fetch our array of posts from an API
            fetch('/animes.json')
                .then( response => response.json())
                .then(function (myJson) {
                    // @ts-ignore
                    vm.animes = myJson;
                    // @ts-ignore
                    window.indiceAnimes = myJson;
                })

        },
        components: {
            'entrada-reciente': entradaReciente
        },
        methods: {
            avanzar: () => {
                sigElemReciente();
            }
        },
        updated: function () {
            ciclarEntradasRecientes();
        }
    }
</script>

<style scoped lang="sass">
.mi-slider
    text-align: center
    // background-color: white
    margin: 10px 0
    // box-shadow: 2px 2px 2px darkgrey
    border-radius: 3px
    padding: 15px

.mi-slider--titulo
    color: #039f67
    font:
        family: 'Product Sans', serif
        size: xx-large
    padding-bottom: 20px

.mi-slider--contenido
    max-height: 390px
    min-height: 389px
    overflow: hidden

.mi-slider--contenido-oculto
    display: none

.mi-slider--contenido--titulo
    color: #151515
    font:
        family: Muli, 'Product Sans', serif
        size: x-large
        weight: bold
    transition: color 100ms
    &:hover
        color: #039f67

.mi-slider--contenido--img
    width: 222px
    height: 320px

.mi-slider--contenido--descripcion
    font:
        size: large
    text-align: justify
    padding-right: 20px

.mi-slider--barra--boton
    cursor: pointer


</style>