<template>
    <div class="col s12 m6" :class="aLaIzq? 'tarjeta-izq': 'tarjeta-der'">
        <div class="card hoverable tarjeta background2" v-on:click="goTo(url)">
            <div class="card-image">
                <img :src="imgUrl" class="noSelectionBackground">
                <router-link :to="url" class="btn-floating halfway-fab waves-effect waves-light teal lighten-1">
                    <i class="material-icons">arrow_forward</i>
                </router-link>
            </div>
            <div class="card-content colorTexto">
                <span class="card-title noSelectionBackground tarjeta--titulo">
                    {{ titulo }}
                </span>
                <p class="noSelectionBackground">
                    <span v-html="descr"></span>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "tarjeta-menu-princ",
        props: {
            url: String,
            imgUrl: String,
            titulo: String,
            descr: String,
            aLaIzq: Boolean
        },
        methods: {
            goTo: function (url) {
                window.miRouter.push(url);
            }
        }
    }
</script>

<style scoped lang="sass">
.tarjeta-izq
    padding-left: 0

.tarjeta-der
    padding-right: 0

.tarjeta
    cursor: pointer
    padding: 0

.tarjeta--titulo
    font:
        family: Muli, "Open Sans", serif
        size: xx-large
</style>