<template>
    <div style="padding-top: 10px">
        <div id="titulo-contenedor" class="background2 colorTexto">
            <div class="hide-on-small-only">
                <br>
            </div>
            <!--<img src="/img/pseudo-logo.svg" width="100"/>-->
            <router-link to="/" id="titulo" class="colorTexto sombraTitulo">PseudoSubs</router-link>
            <div class="hide-on-small-only">
                <br>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    name: 'titulo-principal'
})
</script>

<style lang="sass" scoped>

#titulo-contenedor
    font:
        family: 'Product Sans', serif
        size: 50px
        weight: bold
    text-align: center
    // background-color: inherit
    margin: 0 0 10px 0
    box-shadow: inherit
    border-radius: 3px

#titulo
    // color: #434343
    // text-shadow: 2px 2px 0 #ffffff, 6px 6px 0 #DDDDDD
    transition: color 100ms
    &:hover
        color: #23bf87

</style>
