<template>
    <div>
        <span class="titulo">
            PseudoSubs
        </span>
    </div>
</template>

<script>
    export default {
        name: "Cambio",
        props: {
            data: {
                type: Object
            }
        }
    }
</script>

<style scoped lang="sass">
.titulo
    color: #23bf87
    font:
        weight: bold
        size: x-large
</style>